<h2 class="mb-3">Next Meeting:</h2>
<div class="meeting-card-big shadow p-4">
  <% if @next_meeting.nil? %>
    <p>You don't have any meetings yet.</p>
  <% else %>
    <%= link_to 'View Details', meeting_path(@next_meeting), id: "next", class: 'btn btn-primary btn-lg meeting-btn px-4' %>
    <h2 class="font-weight-bold"><%= @next_meeting.title %>  (<span class="font-italic ml-1 font-weight-bold"><%= @next_meeting.duration %> min.</span>)</h2>
    <!-- top-grid -->
    <div class="row mt-4">
      <!-- left side of the grid -->
      <div class="col-4 d-flex flex-column align-items-start ">
        <h3>Date:</h3>
        <p><%= @next_meeting.date_time.strftime("%b %e, %l:%M %p") %></p>
      </div>
      <!-- middle part of the grid -->
      <div class="col-4 agenda-list">
        <h3>Agenda:</h3>
        <div>
          <!-- if there are any agendas -->
          <% if @next_meeting.agendas.any? %>
            <ul class="align-middle">
              <% @next_meeting.agendas.each do |agenda|  %>
                <li>
                  <%= agenda.title %>
                </li>
              <% end %>
            </ul>
            <!-- if no agendas -->
          <% else %>
            <p class="align-middle">No agendas are set by the host yet.</p>
          <% end %>
        </div>
      </div>
      <!-- right part of the grid -->
      <div class="col-4">
        <h3>Attendees:</h3>
        <div class="container-fluid">
          <div class="scrolling-wrapper row flex-row flex-nowrap pb-4">
            <% if @next_meeting.attendances.any? %>
              <div class="d-flex align-middle">
                <% @next_meeting.attendances.each do |attendance| %>
                  <% if attendance.user.photo.attached? %>
                    <%= cl_image_tag(attendance.user.photo.key,
                        width: 300,
                       crop: :thumb, gravity: :face, class:'avatar mr-2' )%>
                  <% else %>
                    <%= image_tag "avatar.jpg", alt: "avatar", class: 'avatar mr-2' %>
                  <% end %>
                <% end %>
              </div>
            <% else %>
              <p>There is nobody attending yet...</p>
            <% end %>
          </div>
        </div>
      </div>
      <!-- bottom-section -->
    </div>
  <% end %>
</div>