<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <!-- <%= render 'shared/agenda' %> -->
      <!-- <%= render 'shared/transcription' %> -->
      <%= render 'shared/wrapupleft' %>
    </div>
    <div class="col-12 col-md-6">
      <!-- <%= render 'shared/premeeting' %> -->
      <!-- <%= render 'shared/inprogress' %> -->
      <%= render 'shared/wrapupright' %>
    </div>
  </div>
</div>