<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div data-aos="fade-right" data-aos-duration="2000">
        <div class="agenda-card mt-4">
          <div class="agenda">
            <h2 class="m-3">Agenda</h2>
            <ul>
              <% @meeting.agendas.each do |agenda| %>
                <li>
                  <div class="agenda-cards btn btn-secondary m-1 d-flex justify-content-between">
                    <div class="agenda-info">
                      <p><%= agenda.title %></p>
                      <p><%= agenda.description %></p>
                    </div>
                    <div class="agenda-time">
                      <p><%= agenda.est_duration %> min.</p>
                    </div>
                  </div>
                </li>
              <% end %>
              <li>
                <div class="agenda-form">
                  <button class="add-agenda-btn agenda-cards btn btn-secondary m-1">add</button>
                  <%= render 'agendas/new' %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <%= render 'shared/agenda' %> -->
      <%= render 'shared/transcription' %>
    </div>
    <div class="col-12 col-md-6">
      <!-- <%= render 'shared/premeeting' %> -->
      <%= render 'shared/inprogress' %>
    </div>
  </div>
</div>