<div class="d-flex justify-content-between align-items-center">
  <p style="font-size: 24px" ><%= @meeting.title %> | <%= @meeting.date_time.strftime("%A, %d %b %Y at %l:%M %p") %> <span style="font-size: 16px;">(<%= @meeting.duration%> mins.)</span></p>
  <div class="trello-btn">
    <% if @meeting.trello_board == "" %>
      <p>""</p>
    <% else %>
      <%= link_to 'Trello board linked', @meeting.trello_board, target: "_blank", class: "btn btn-secondary" %>
    <% end %>
  </div>
  <p>Hosted By:
    <%= cl_image_tag "#{@meeting.user.photo.key}", alt: "alttext", class: "avatar" %>
  </h4>
</div>
<div class="agenda-card">
  <div class="agenda">
    <h2 class="mt-1 ml-1">Agenda</h2>
    <ul class="row justify-content-center postitul">
      <% i = 0 %>
      <% @meeting.agendas.each do |agenda| %>
        <li id='<%= "agenda#{i}" %>' class="postit col-2 m-3 p-1">
          <p><%= agenda.title %></p>
          <p><%= agenda.description %></p>
        </li>
        <% i += 1 %>
      <% end %>
    </ul>
  </div>
  <div class="d-flex justify-content-center">
    <div class="meeting-table" style="background-image: url('<%= asset_path 'table.jpg' %>');">
      <% @meeting.attendances.each do |attendance| %>
        <% if attendance.user.photo.attached? %>
          <div class="mtgtableattendee">
            <%= cl_image_tag "#{attendance.user.photo.key}", alt: "alttext", class: "avatar-large mx-1 align-self-start" %>
          </div>
        <% else %>
          <div class="mtgtableattendee">
            <%= image_tag "avatar.jpg", alt: "avatar", class: 'avatar-large mx-1 align-self-start' %>
          </div>
        <% end %>
      <% end %>
      <div class="task-assign">
        <% @meeting.attendances.each do |attendance| %>
          <%= simple_form_for([@meeting, @task]) do |f| %>
            <%= f.input :user_id, label: false , :input_html => { :value => attendance.user.id, "data-trelloid" => attendance.user.trello_member_id, "data-meeting" => attendance.meeting.title, :type => 'hidden' } %>
            <%= f.input :description, placeholder: "Assign task to #{attendance.user.nickname}", label: false, class: "task-description" %>
          <% end %>
        <% end %>
      </div>
      <div class="meetingend">
        <% if @meeting.user == current_user %>
          <%= link_to "Finish", meeting_summary_path(@meeting), class: "btn btn-primary"  %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="taskhidden"></div>