 
<p class="mt-4">Hi <%= current_user.nickname %>! You have the following meeting coming up:</p>
<h1><%= @meeting.title  %></h1>
<h3><%= @meeting.date_time.strftime("%A, %d %b %Y at %l:%M %p") %> <span style="font-size: 16px;">(<%= @meeting.duration%> mins.)</span></h3>
<h3>Talking About:</h3>
<p><%= @meeting.description %></p>
<h3>Hosted By:</h3>
<%= cl_image_tag "#{@meeting.user.photo.key}", alt: "alttext", class: "avatar" %>
<h3>Joining</h3>
<div class="d-flex">
  <p>ADD!</p>
  <% @meeting.attendances.each do |attendance| %>
    <%= cl_image_tag "#{attendance.user.photo.key}", alt: "alttext", class: "avatar mx-1" %>
  <% end %>
</div>
<button class="btn btn-primary btn-block mt-5">Everyone here? Lets get started!</button>