
<div class="d-flex justify-content-between align-items-center">
  <h2 style="font-size: 24px">

    <%= @meeting.title %> |
    <span style="font-size: 20px;"><%= @meeting.date_time.strftime("%A, %d %b %Y at %l:%M %p") %></span><span style="font-style:italic;"><span class="ml-3" style="font-size: 16px; ">
        <%= @meeting.duration%> mins.</span></span></h2>
  <div class="trello-btn">
    <% if @meeting.trello_board == "" %>
      <p>""</p>
    <% else %>
      <%= link_to 'Trello board linked', @meeting.trello_board, target: "_blank", class: "btn btn-secondary mb-2" %>
    <% end %>
  </div>
  <p class="mb-1">Hosted By:
    <%= cl_image_tag "#{@meeting.user.photo.key}", alt: "alttext", class: "avatar" %>
  </p>
</div>
<div class="agenda-card mt-3">
  <div class="progress-container">
    <ol class="progress-tracker">
      <% i = 0 %>
      <% @meeting.agendas.each do |agenda| %>
        <li id='<%= "agenda#{i}" %>' data-agenda="<%= agenda.id %>" class=" postit postit-pointer progress-step">
          <!-- add .is-complete if the agenda is finished -->
          <!-- add .is-active on the current agenda -->
          <div class="progress-marker"><%= i+1 %></div>
          <div class="progress-text"><%= agenda.title %></div>
          <!-- remove .count and add .checkmark if the agenda is finished -->
        </li>
        <% i += 1 %>
      <% end %>
    </ol>
  </div>
  <div class="d-flex justify-content-center">
    <div class="meeting-table" style="background-image: url('<%= asset_path 'table.jpg' %>');">
      <div data-userid="<%= @meeting.user.id %>" class="mtgtableattendee task-owner">
        <%= cl_image_tag "#{@meeting.user.photo.key}", :data => { :userid => @meeting.user.id }, alt: "alttext", class: "task-avatar avatar-large mx-1 align-self-start" %>
        <div data-userid="<%= @meeting.user.id %>" class="task-form">
          <%= simple_form_for([@meeting, @task]) do |f| %>
            <%= f.input :user_id, label: false , :input_html => { :value => @meeting.user.id, "data-trelloid" => @meeting.user.trello_member_id, "data-meeting" => @meeting.title, :type => 'hidden' } %>
            <%= f.input :description, label: false, class: "task-description" %>
          <% end %>
        </div>
      </div>
      <% @meeting.attendances.each do |attendance| %>
        <% if attendance.user.photo.attached? %>
          <div data-userid="<%= attendance.user.id %>" class="mtgtableattendee task-owner">
            <%= cl_image_tag "#{attendance.user.photo.key}", alt: "alttext", class: "task-avatar avatar-large mx-1 align-self-start", :data => { :userid => attendance.user.id } %>
            <div data-userid="<%= attendance.user.id %>" class="task-form">
              <%= simple_form_for([@meeting, @task]) do |f| %>
                <%= f.input :user_id, label: false , :input_html => { :value => attendance.user.id, "data-trelloid" => attendance.user.trello_member_id, "data-meeting" => attendance.meeting.title, :type => 'hidden' } %>
                <%= f.input :description, label: false, class: "task-description" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div data-userid="<%= attendance.user.id %>" class="mtgtableattendee task-owner">
            <%= image_tag "avatar.jpg", alt: "avatar", class: 'task-avatar avatar-large mx-1 align-self-start', :data => { :userid => attendance.user.id } %>
            <div data-userid="<%= attendance.user.id %>" class="task-form">
              <%= simple_form_for([@meeting, @task]) do |f| %>
                <%= f.input :user_id, label: false , :input_html => { :value => attendance.user.id, "data-trelloid" => attendance.user.trello_member_id, "data-meeting" => attendance.meeting.title, :type => 'hidden' } %>
                <%= f.input :description, label: false, class: "task-description" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="currentagendaitem" id="currentpostit">
        <p class="p-2">Click on the first agenda item to start</p>
      </div>
      <div class="meetingend">
        <% if @meeting.user == current_user %>
          <div class="d-flex justify-content-center">
            <%= link_to "All done? Let's wrap up", finish_meeting_path(@meeting), :method=> :put, id: "wrap-up", class: "btn btn-primary"  %>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center cheatsheet">
        <div class="inprogress-card mt-4">
          <h5>Voice Commands</h5>
          <p>Use the following commands to progress through the meeting:</p>
          <ul>
            <li>"First on the Agenda"</li>
            <li>"Stop"</li>
            <li>"Next on the Agenda"</li>
            <li>"Can you (task to assign)?"</li>
            <li>"Show Transcript"</li>
            <li>"Hide Transcript"</li>
            <li>"Order Coffee"</li>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-center meetingtranscript">
        <div class="inprogress-card mt-4">
          <div class="d-flex justify-content-between">
            <div id="record" class="record-hidden"><i class="fa fa-circle text-danger"></i>&nbsp; Recording </div>
          </div>
          <% @meeting.agendas.each do |agenda| %>
            <div data-agenda="<%= agenda.id %>" class="transcription transcription-display">
              <!-- form dynamically generated by JS -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <button class="record btn-primary btn btn-xs" style="display:none">Record</button>
    <button class="stopRecording btn-warning btn btn-xs" style="display: none">stop</button>
    <div class="sound-clips">
    </div>
  </div>
</div>
