<div class="homepage-banner" class="img-fluid" style="background-image: url('<%= asset_path 'background.png' %>');">
  <div class="container d-flex align-items-start flex-column">
    <h1>Syncalyst</h1>
    <p>Less Stress<br>
      More Impactful Meetings</p>
    <%= link_to 'Try it free!', 'mailto:demo@syncalyst.com?subject=Demo Request from homepage',  class: 'btn btn-primary' %>
  </div>
  <%= image_tag("meeting.png", class: "banner-img img-fluid") %>
</div>
<!-- <div class="homepage-info d-flex justify-content-around">
  <div>
    <%= image_tag("pcaward.png", height: '70', width: '150', alt: "pc_award") %>
  </div>
  <div>
    <%= image_tag("lewagon-award.png", height: '80', width: '160', alt: "lewagon_award") %>
  </div>
  <div>
    <%= image_tag("award_googleplay.png", height: '70', width: '150', alt: "googleplay_award") %>
  </div>
  <div>
    <%= image_tag("award-apple.png", height: '70', width: '150', alt: "apple_award") %>
  </div>
</div> -->
<!-- Hide The Recording -->
<div id="taskhidden"></div>