<%= simple_form_for([@meeting, @agenda]) do |f| %>
  <div class="agenda-input">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :est_duration %>
    <%= f.submit %>
  </div>
<% end %>