<%= simple_form_for([@meeting, @agenda]) do |f| %>
  <div class="agenda-input">
    <%= f.input :title, label: 'Title' %>
    <%= f.input :description, label: 'Description', placeholder: 'a summary to have a better idea of this topic' %>
    <%= f.input :est_duration, label: 'Time (mins)', placeholder: 'Estimated time needed for this section' %>
    <%= f.submit %>
  </div>
<% end %>