<!DOCTYPE html>
<html>
  <head>
    <title>Syncalyst</title>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="7z_Lmgq0YrA2ujADdw6YVvcB4XrxvsPEFsV4yzY4zno" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://api.trello.com/1/client.js?key=2bb18f628e0eeb7bdbfffdd3f8636ad1"></script>
  </head>
  <body>
    <%= render 'shared/newnavbar' %>
    <%= render 'shared/flashes' %>
    <p class="ml-3" id="activity"></p>
    <%= yield %>
  </body>
</html>